/BasicXCloneBackend/.vs
/BasicXCloneBackend/BasicXCloneAPI/bin
/BasicXCloneBackend/BasicXCloneAPI/obj
/BasicXCloneBackend/Application/obj
/BasicXCloneBackend/Application/bin
/BasicXCloneBackend/Domain/obj
/BasicXCloneBackend/Domain/bin
/BasicXCloneBackend/Infrastructure/obj
/BasicXCloneBackend/Infrastructure/bin
/BasicXCloneBackend/BasicXCloneAPITests/bin
/BasicXCloneBackend/BasicXCloneAPITests/obj


/BasicXCloneFrontend/logs
/BasicXCloneFrontend/*.log
/BasicXCloneFrontend/npm-debug.log*
/BasicXCloneFrontend/yarn-debug.log*
/BasicXCloneFrontend/yarn-error.log*
/BasicXCloneFrontend/pnpm-debug.log*
/BasicXCloneFrontend/lerna-debug.log*

/BasicXCloneFrontend/node_modules
/BasicXCloneFrontend/dist
/BasicXCloneFrontend/dist-ssr
/BasicXCloneFrontend/*.local
/BasicXCloneFrontend/.env
/BasicXCloneFrontend/.env.*

/BasicXCloneFrontend/.vscode/*
/BasicXCloneFrontend/!.vscode/extensions.json
/BasicXCloneFrontend/.idea
/BasicXCloneFrontend/.DS_Store
/BasicXCloneFrontend/*.suo
/BasicXCloneFrontend/*.ntvs*
/BasicXCloneFrontend/*.njsproj
/BasicXCloneFrontend/*.sln
/BasicXCloneFrontend/*.sw?

/.env
/.env.*
/BasicXCloneBackend/BasicXCloneAPI/BasicXCloneAPI.csproj.user


